@{
    ViewData["Title"] = "關於本站";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<h1 class ="text-center">
    此系統為學生及助教使用，為確保學生上課之確實點名及方便助教管理而創辦之系統。
    煩請各位學生確實點名，請勿以身試法。
    若不確實點名將依法懲處，懲處內容為請創辦此系統的帥哥吃旭集XD
</h1>
