@model StudentsMS.Models.RollCall

@{
    ViewData["Title"] = "編輯點名資料";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<h4>RollCall</h4>
<div>
    <a asp-action="Index"><i class="bi bi-arrow-left-circle fs-4"></i></a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StuID" />
            <input type="hidden" asp-for="CourseID" />
            <input type="hidden" asp-for="DeptID" />
            <input type="hidden" asp-for="CTID" />
            <div class="form-group">
                <label asp-for="CourseID" class="control-label"></label>
                <select asp-for="CourseID" class="form-control" asp-items="ViewBag.CourseID"></select>
                @* <label asp-for="CourseID" class="control-label"></label>
                <input asp-for="CourseID" class="form-control" /> *@
                <span asp-validation-for="CourseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptID" class="control-label"></label>
                <select asp-for="DeptID" class="form-control" asp-items="ViewBag.DeptID"></select>
                <span asp-validation-for="DeptID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CTID" class="control-label"></label>
                <select asp-for="CTID" class="form-control" asp-items="ViewBag.CTID"></select>
                <span asp-validation-for="CTID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RCDate" class="control-label"></label>
                <input asp-for="RCDate" class="form-control" readonly/>
                <span asp-validation-for="RCDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input asp-for="ArrivalTime" class="form-control" readonly/>
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="確定修改" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
